<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DBConnection</display-name>
  <REDACTED_TEST_PASSWORD-file-list>
    <REDACTED_TEST_PASSWORD-file>index.html</REDACTED_TEST_PASSWORD-file>
    <REDACTED_TEST_PASSWORD-file>index.htm</REDACTED_TEST_PASSWORD-file>
    <REDACTED_TEST_PASSWORD-file>index.jsp</REDACTED_TEST_PASSWORD-file>
    <REDACTED_TEST_PASSWORD-file>default.html</REDACTED_TEST_PASSWORD-file>
    <REDACTED_TEST_PASSWORD-file>default.htm</REDACTED_TEST_PASSWORD-file>
    <REDACTED_TEST_PASSWORD-file>default.jsp</REDACTED_TEST_PASSWORD-file>
  </REDACTED_TEST_PASSWORD-file-list>
  <servlet>
	<servlet-name>LoginServlet</servlet-name>
	<servlet-class>mts.dsc.servlet.LoginServlet</servlet-class>
  </servlet>	
  <servlet-mapping>
	<servlet-name>LoginServlet</servlet-name>
	<url-pattern>/LoginServlet/*</url-pattern>
  </servlet-mapping>	
  

  <servlet>
	<servlet-name>LogoutServlet</servlet-name>
	<servlet-class>mts.dsc.servlet.LogoutServlet</servlet-class>
  </servlet>	
  <servlet-mapping>
	<servlet-name>LogoutServlet</servlet-name>
	<url-pattern>/LogoutServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>

	<servlet-name>ActivityServlet</servlet-name>
	<servlet-class>mts.dsc.servlet.ActivityServlet</servlet-class>
  </servlet>	
  <servlet-mapping>
	<servlet-name>ActivityServlet</servlet-name>
	<url-pattern>/ActivityServlet/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ProjectServlet</servlet-name>
	<servlet-class>mts.dsc.servlet.ProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProjectServlet</servlet-name>
	<url-pattern>/ProjectServlet/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UserReportServlet</servlet-name>
	<servlet-class>mts.dsc.servlet.UserReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserReportServlet</servlet-name>
	<url-pattern>/UserReportServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>mts.dsc.servlet.ReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>AdminUsers</description>
    <display-name>AdminUsers</display-name>
    <servlet-name>AdminUsers</servlet-name>
    <servlet-class>mts.dsc.servlet.systemadmin.AdminUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUsers</servlet-name>
    <url-pattern>/AdminUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPositions</display-name>
    <servlet-name>AdminPositions</servlet-name>
    <servlet-class>mts.dsc.servlet.systemadmin.AdminPositions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPositions</servlet-name>
    <url-pattern>/AdminPositions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Administrator</display-name>
    <servlet-name>Administrator</servlet-name>
    <servlet-class>mts.dsc.servlet.systemadmin.Administrator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Administrator</servlet-name>
    <url-pattern>/Administrator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminActivityOptions</display-name>
    <servlet-name>AdminActivityOptions</servlet-name>
    <servlet-class>mts.dsc.servlet.systemadmin.AdminActivityOptions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminActivityOptions</servlet-name>
    <url-pattern>/AdminActivityOptions</url-pattern>
    <url-pattern>/ActivityOptions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProjects</display-name>
    <servlet-name>AdminProjects</servlet-name>
    <servlet-class>mts.dsc.servlet.systemadmin.AdminProjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProjects</servlet-name>
    <url-pattern>/AdminProjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDepartments</display-name>
    <servlet-name>AdminDepartments</servlet-name>
    <servlet-class>mts.dsc.servlet.systemadmin.AdminDepartments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDepartments</servlet-name>
    <url-pattern>/AdminDepartments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminExpense</display-name>
    <servlet-name>AdminExpense</servlet-name>
    <servlet-class>mts.dsc.servlet.systemadmin.AdminExpense</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminExpense</servlet-name>
    <url-pattern>/AdminExpense</url-pattern>
  </servlet-mapping>

</web-app>
